div.parent {
  margin: 0;
  padding: 0;
}

.parent {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: repeat(1, 1fr);
  gap: 0;
  height: 50vh;
  border: 2px solid black;
  padding: 10px;
}
.div1,
.div2,
.div3 {
  border: 2px solid black;
}
