.gallery {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.box {
  width: 30vw;
  height: 50vh;
  margin: 10px;
  background-size: cover;
  background-position: center;
}

.korn {
  background-image: url("../imgs/Korn.jpg");
}
.linkin {
  background-image: url("../imgs/Linkin-Park.jpg");
}
.opeth {
  background-image: url("../imgs/Opeth.jpg");
}
