.gallery {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  border-radius: 10px;
  width: 100%;
  height: auto;
  flex-wrap: wrap;
}

.box {
  width: 30vw;
  height: 50vh;
  margin: 10px;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.korn {
  background-image: url("../imgs/Korn.jpg");
}
.linkin {
  background-image: url("../imgs/Linkin-Park.jpg");
}
.opeth {
  background-image: url("../imgs/Opeth.jpg");
}
