.gallery {
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  width: 70%;
  height: auto;
  margin: 0 auto;
}

.box {
  width: 300px;
  height: 250px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.korn {
  background-image: url("../imgs/Korn.jpg");
}
.linkin {
  background-image: url("../imgs/Linkin-Park.jpg");
}
.opeth {
  background-image: url("../imgs/Opeth.jpg");
}
.gallerybar {
  width: 70%;
  height: 45px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  border-radius: 20px;
}
