header {
  background-image: url("../imgs/header.jpg");
  background-size: cover;
  background-position: center;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  font-size: 150px;
  color: rgba(251, 251, 251, 0.683);
  font-weight: bold;
  width: 100%;
  height: 40vh;
}

footer {
  font-size: 30px;
  color: white;
  background-color: black;
  font-weight: bold;
  width: 100%;
  position: sticky;
  top: 100vh;
}
