:root {
  --font-metal: "Metal Mania", cursive;
}

body {
  font-family: var(--font-metal);
}

header {
  background-image: url("../imgs/header.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  color: rgba(251, 251, 251, 0.683);
  font-weight: bold;
}

footer {
  font-size: 15px;
  color: rgba(215, 41, 41, 0.852);
  background-color: black;
  width: 100%;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
}
